<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

<h1 class="heading">This is our About Us Page</h1>
<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
    assumenda consectetur cupiditate, distinctio earum error excepturi facere harum ipsa
    laborum maxime nemo pariatur perferendis, quibusdam reiciendis repellendus tempora unde
    veritatis vero voluptatem. Consequatur corporis dicta dolorum earum ex ipsam labore
    laborum, magnam, nostrum odit pariatur perferendis quas quisquam repellat voluptas.</p>

</body>
</html>