<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

<h1 class="heading">This is my Home Page</h1>
<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
    delectus numquam odit perspiciatis ullam. Adipisci animi culpa debitis dolore dolores,
    eligendi est facere ipsam itaque maiores nostrum placeat, sit ut vel voluptatum. Enim
    iusto officiis placeat ratione repellendus similique soluta vero. Aliquid asperiores
    debitis dicta dolor enim, quos ullam vero?</p>

</body>
</html>